@import "tailwindcss";

body {
  background: linear-gradient(to bottom, #87CEEB 0%, #98D8E8 100%);
}

.planet-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.planet-icon.earth {
  background: linear-gradient(45deg, #4CAF50 30%, #2196F3 70%);
}

.planet-icon.moon {
  background: #908e89;
  position: relative;
}

.planet-icon.moon::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 12px;
  height: 12px;
  background: #585755;
  border-radius: 50%;
}

.planet-icon.mars {
  background: #FF5722;
  position: relative;
}

.planet-icon.mars::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #D32F2F;
  border-radius: 50%;
}

.planet-icon.jupiter {
  background: linear-gradient(45deg, #FF9800 0%, #F57C00 50%, #E65100 100%);
  position: relative;
}

.planet-icon.jupiter::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  height: 3px;
  background: #BF360C;
}

.planet-icon.jupiter::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 2px;
  background: #D84315;
}

.clouds {
  position: fixed;
  inset: 0; 
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.cloud {
  position: absolute;
  background: white;
  border-radius: 50px;
  opacity: 0.8;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50px;
}

.cloud1 {
  width: 80px;
  height: 40px;
  top: 10%;
  left: -2vw;
  animation: float 20s infinite linear;
}

.cloud1::before {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 10px;
}

.cloud1::after {
  width: 60px;
  height: 40px;
  top: -15px;
  right: 10px;
}

.cloud2 {
  width: 60px;
  height: 30px;
  top: 20%;
  right:-2vw;
  animation: floatReverse 25s infinite linear ;
}

.cloud2::before {
  width: 40px;
  height: 40px;
  top: -20px;
  left: 5px;
}

.cloud2::after {
  width: 50px;
  height: 30px;
  top: -10px;
  right: 5px;
}

.cloud3 {
  width: 70px;
  height: 35px;
  top: 60%;
  left: -2vw;
  animation: float 30s infinite linear;
}

.cloud3::before {
  width: 45px;
  height: 45px;
  top: -22px;
  left: 8px;
}

.cloud3::after {
  width: 55px;
  height: 35px;
  top: -12px;
  right: 8px;
}

.cloud4 {
  width: 90px;
  height: 45px;
  top: 70%;
  left: -2vw;
  animation: float 22s infinite linear reverse;
}

.cloud4::before {
  width: 55px;
  height: 55px;
  top: -28px;
  left: 12px;
}

.cloud4::after {
  width: 65px;
  height: 45px;
  top: -18px;
  right: 12px;
}

.cloud5 {
  width: 50px;
  height: 25px;
  top: 40%;
  right: -2vw;
  animation: float 18s infinite alternate-reverse linear;
}

.cloud5::before {
  width: 35px;
  height: 35px;
  top: -18px;
  left: 5px;
}

.cloud5::after {
  width: 40px;
  height: 25px;
  top: -8px;
  right: 5px;
}

.cloud6 {
  width: 65px;
  height: 32px;
  top: 85%;
  left:-2vw;
  animation: float 28s infinite linear reverse;
}

.cloud6::before {
  width: 42px;
  height: 42px;
  top: -21px;
  left: 7px;
}

.cloud6::after {
  width: 52px;
  height: 32px;
  top: -11px;
  right: 7px;
}

@keyframes float {
  0% {
    transform: translateX(calc(-10vw - 100px));
  }
  100% {
    transform: translateX(calc(100vw + 100px));
  }
}

@keyframes floatReverse {
  0% {
    transform: translateX(calc(100vw + 100px));
  }
  100% {
    transform: translateX(calc(-10vw - 100px));
  }
}